@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.untouchable .touchable {
  display: none;
}

.showArticle {
  animation: show linear 1s;
}

.hideArticle {
  animation: hide linear 1s;
}

.MMM-NewsAPI {
  line-height: 1.1em;
}

.MMM-NewsAPI .header .title {
  display: block;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.MMM-NewsAPI .content {
  padding: 10px;
}

.MMM-NewsAPI .footer {
  text-align: right;
}
.MMM-NewsAPI .footer .source,
.MMM-NewsAPI .footer .date,
.MMM-NewsAPI .footer .author {
  text-align: right;
  display: inline-block;
  font-size: 0.85rem;
  line-height: 1rem;
  margin-left: 0.25rem;
}

.MMM-NewsAPI .footer .source:not(:first-child):not(:last-child):before,
.MMM-NewsAPI .footer .date:not(:first-child):not(:last-child):before,
.MMM-NewsAPI .footer .author:not(:first-child):not(:last-child):before {
  content: "-";
  margin-right: 0.25rem;
  display: inline-block;
}

.MMM-NewsAPI .footer .source:last-child:before,
.MMM-NewsAPI .footer .date:last-child:before,
.MMM-NewsAPI .footer .author:last-child:before {
  content: "|";
  margin-right: 0.25rem;
  display: inline-block;
}

.MMM-NewsAPI .footer .source:first-child:before,
.MMM-NewsAPI .footer .date:first-child:before,
.MMM-NewsAPI .footer .author:first-child:before {
  content: "" !important;
  display: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MMM-NewsAPI .footer .source {
  text-transform: uppercase;
}

.MMM-NewsAPI {
  width: 100%;
}

.MMM-NewsAPI .content {
  text-align: center;
}

.MMM-NewsAPI .qrcode {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-right: 0.5rem;
}

.MMM-NewsAPI .article-image {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: right;
  margin-left: 0.5rem;
}
